<!-- include header -->
<%- include('include/header') %>
<!-- include header -->

<!-- Main section -->
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <a href="/add-user" class="border-shadow">
        <span class="text-gradient"
          >New User<i class="fa-solid fa-user"></i
        ></span>
      </a>
    </div>
    <!-- form handling -->
    <form action="/" method="POST">
      <table class="table">
        <thead class="thead-dark">
          <th>Id</th>
          <th>Name</th>
          <th>@Email</th>
          <th>Gender</th>
          <th>Status</th>
          <th>Action</th>
        </thead>
        <tbody>
          <%- include('include/show') %>
        </tbody>
      </table>
    </form>
  </div>
</main>
<!-- Main section -->

<!-- include footer -->
<%- include('include/footer') %>
<!-- include footer -->
